# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key and configure
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
output = "Output/CityWeatherData.csv"
citydata = pd.read_csv(output)
citydata

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,mattru,91,SL,1595868108,81,7.62,-11.83,77.56,5.68
1,ushuaia,90,AR,1595867826,87,-54.80,-68.30,32.00,28.86
2,bunbury,32,AU,1595868308,98,-33.33,115.63,54.00,8.03
3,ribeira grande,20,PT,1595867965,83,38.52,-28.70,77.00,10.29
4,khatanga,17,RU,1595868165,78,71.97,102.50,41.74,5.57
...,...,...,...,...,...,...,...,...,...
549,kandrian,80,PG,1595868897,89,-6.22,149.55,76.77,4.70
550,la peca,37,PE,1595868897,62,-5.61,-78.44,78.30,3.58
551,pingzhuang,19,CN,1595868897,84,42.04,119.29,66.87,8.95
552,beloha,0,MG,1595868897,77,-25.17,45.05,61.77,6.91
553,namwala,0,ZM,1595868897,36,-15.75,26.44,63.68,7.25

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
locations = citydata[['Lat', 'Lng']]
humidity = citydata['Humidity'].astype(float)

heatmap = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=5, point_radius=1)
heatmap.add_layer(heatmap_layer)
heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

* Narrow down the DataFrame to find your ideal weather condition. For example:
* A max temperature lower than 80 degrees but higher than 70.
* Wind speed less than 10 mph.
* Zero cloudiness.
* Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
* **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.
* Drop any rows will null values.

In [83]:
narrowed_df = pd.DataFrame(citydata, columns = ["City", "Country",'Lat','Lng', "Max Temp", "Windspeed", "Cloudiness"])
temp = (narrowed_df["Max Temp"] <= 90) & (narrowed_df["Max Temp"] > 70)
wind = narrowed_df["Windspeed"] <= 10
cloudiness = narrowed_df["Cloudiness"] == 0
df = narrowed_df[temp & wind & cloudiness]
df

              City Country    Lat     Lng  Max Temp  Windspeed  Cloudiness
74           sumbe      AO -11.21   13.84     75.20       5.82           0
120       luderitz     NaN -26.65   15.16     75.20       9.17           0
246         manono      CD  -7.30   27.42     76.91       3.65           0
315       blatnica      BA  44.49   17.82     86.00       2.24           0
323       benguela      AO -12.58   13.41     72.09       6.55           0
350     chilliwack      CA  49.17 -121.94     80.01       0.89           0
356         leshan      CN  29.56  103.76     75.29       1.97           0
382       vallenar      CL -28.57  -70.76     76.57       3.53           0
417  katima mulilo     NaN -17.50   24.27     71.60       6.93           0
420         lucapa      AO  -8.42   20.74     75.83       3.85           0
465          lodja      CD  -3.48   23.43     81.82       0.40           0
471   iracemapolis      BR -22.58  -47.52     86.00       5.99           0
475        erzurum      TR  40.00   41.50     78.80       6.93           0
482       lanciano      IT  42.22   14.39     87.80       8.05           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels within 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [84]:
hotel_df = pd.DataFrame(df, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

              City Country    Lat     Lng Hotel Name
74           sumbe      AO -11.21   13.84
120       luderitz     NaN -26.65   15.16
246         manono      CD  -7.30   27.42
315       blatnica      BA  44.49   17.82
323       benguela      AO -12.58   13.41
350     chilliwack      CA  49.17 -121.94
356         leshan      CN  29.56  103.76
382       vallenar      CL -28.57  -70.76
417  katima mulilo     NaN -17.50   24.27
420         lucapa      AO  -8.42   20.74
465          lodja      CD  -3.48   23.43
471   iracemapolis      BR -22.58  -47.52
475        erzurum      TR  40.00   41.50
482       lanciano      IT  42.22   14.39

In [85]:
# Set parameters to search for hotels within 5000 meters of the city

hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    coordinates = f"{row['Lat']},{row['Lng']}"
    params = {"location": coordinates, "radius": 5000, "type": 'lodging', "key": g_key}
    response = requests.get(hotel_url, params=params).json()
    try:
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
    except(KeyError, IndexError):
        print('Missing Field. Skipping...')

Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...
Missing Field. Skipping...

In [54]:
# To get more than one result loop through

In [53]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [49]:
# Add marker layer ontop of heat map


# Display figure